{% extends 'base.html.twig' %}

{% block title %}Users {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        {{ include('defaults/pagetitle.html.twig',{title:"All Employees", subtitle:"Manage all employees in this page"})}}
        <div class="col">
            <div class="list-group mb-3">
                {% for user in users %}
                <a class="bg-info text-light list-group-item list-group-item-action" role="button" href="{{path('user_show',{id: user.id})}}">{{user.username}} <span class="text-dark">{{user.roles|json_encode}}</span></a>
                {% endfor %}
            </div>
            <a class="btn btn-outline-primary mb-3" role="button" href="{{ path('user_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
