{% extends 'base.html.twig' %}

{% block title %}Transactions {{ parent() }}{% endblock %}

{% block body %}
    {% include "defaults/pagetitle.html.twig" with { title: 'List of transactions' } %}
    {% include "defaults/pageactions.html.twig" with {actions: [
        {
            name: 'add new transaction',
            link: 'transaction_new',
            deco: 'success',
        },{
            name: 'Back to home',
            link: 'home',
            deco: 'primary'
        }
    ]} %}
    <div class="row">
        <div class="col">
            {#
            <div class="list-group">
                {% for transaction in transactions %}
                    <a href="{{path('transaction_show', {'id': transaction.id})}}" class="col list-group-item list-group-item-action mb-1 small">
                        <span>{{ transaction.id }}</span>
                        <span class="smaller">{{ transaction.datetime|date('F jS Y - H:m') }}</span>
                        <span>{{ transaction.quantity }}</span>
                        <span>{{ transaction.cost }}</span>
                        <span>{{ transaction.sale ? transaction.sale.id }}</span>
                    </a>
                {% endfor %}
            </div>
            #}
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Datetime</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.datetime|date('F j Y - H:m') }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <td>{{ transaction.cost }}</td>
                        <td class="btn-group">
                            <a class="btn btn-sm btn-info" href="{{ path('transaction_show', {'id': transaction.id}) }}">show</a>
                            <a class="btn btn-sm btn-warning" href="{{ path('transaction_edit', {'id': transaction.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
