{% extends 'base.html.twig' %}

{% block title %}Transaction Details {{ parent() }}{% endblock %}

{% block body %}
    {% include "defaults/pagetitle.html.twig" with { title: 'Transactions details' } %}
    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ transaction.id }}</td>
                    </tr>
                    <tr>
                        <th>Datetime</th>
                        <td>{{ transaction.datetime|date("m/d/Y") }}</td>
                    </tr>
                    <tr>
                        <th>Item</th>
                        <td>{{ transaction.item }}</td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td>{{ transaction.quantity }}</td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td>{{ transaction.cost }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
